/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 5rem 0 4rem;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2.5rem 1.5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
